language: php
dist: trusty

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - "/^v[[:digit:]]+\\.[[:digit:]]+\\.[[:digit:]]+.*$/"

php:
  - 7.3
  - 7.2

cache:
  - composer
  - "$HOME/.composer/cache"

env:
  global:
  - WP_CLI_BIN_DIR=/tmp/wp-cli-phar

before_script:
  - bash bin/install-package-tests.sh
  - composer install

script: "./vendor/bin/behat --ansi"

before_deploy:
  - bash bin/prepare.sh

deploy:
  provider: releases
  api_key:
    secure: mF9U4mO+B+lJKqK6rqom/nOlsLHDRlBVgVIQxUuO4xCPuygD1eer8Hfkvqo58tpsPWF24Iqek4NyFTZ7dY78vmhVUPCxS/nq/+6A0Dyg3uqFYK5F+Sn60e46ZATSOJVDlKTr62ZR04dq0tjrFBwXfNXqv9RMQGjaOVD/U+tKTsw=
  file: wp_launch_check.phar
  on:
    repo: pantheon-systems/wp_launch_check
    tags: true
